body {
  background-color: rgba(0, 0, 0, 0.25);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    .player-house {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 2rem;
    }

    .board {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: black;

      .row {
        display: flex;

        .cell {
          margin: 1.5px;
          background-color: rgb(125, 44, 44);
          background-color: rgb(80, 80, 80);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2.5rem;
          height: 2.5rem;
          cursor: pointer;

          .disk {
            display: none;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 70%;
            border-radius: 50%;
            pointer-events: none;
            color: white;
          }
        }
      }
    }
  }
}